.header {
    display: flex;
    justify-content: space-between;
    @apply
    w-full
    rounded-lg
}
.headerLogo {
     background:var( --light-gray);
    min-width: 100%;
    height: 20%;
    position: relative;
    @apply
  shadow-lg
  rounded-lg
  p-4
  flex
  md:flex-col
  justify-between
  md:w-[20%]
}
.siteName {
  background-color: var(--bg-light);
  color: var(--cl-light);
  @apply
  p-4
  rounded-lg
}
