.headMain {
    @apply
    md:flex
    /* gap-1 */
}
.header {
    @apply
    md:w-1/4
}
.children {
 /* background-color: green; */
    display: grid;
    place-items: center;
    @apply
    w-screen
    md:w-3/4
    rounded-lg
}