.create_container {
width: 80%;
margin: 0 auto;
    @apply
    flex
    flex-col
    gap-2
    rounded-lg
    p-4
}
.create_container form {
    background: var(--dark-gray);
    margin: 0 auto;
    width:80%;
    @apply
    p-4
    flex
    flex-col
    gap-2
    items-center
    justify-center
    rounded-lg
    shadow-lg
}

.create_container form div {
    @apply
    flex
    justify-between
    items-center
    p-2
    rounded-md
    m-2
} 
.create_container form input {
    width: 80%;
    height:2.2rem;
     @apply
    rounded-lg
}

 .create_container form  textarea {
    width: 80%;
    @apply
    rounded-lg
}

.create_container form  button {
    background-color: var(--bg-light);
    color: var(--cl-light);
    align-self: center;
    text-align: center;
    @apply
    rounded-lg
    px-2
    py-2
} 